header {
    height: 25px;
}

.card {
    width: 300px;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
  }
  
  .card_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card_header svg {
    color: #7878bd;
    margin-right: 5px;
  }
  
  .card-body .form-control {
    width: 100%;
  }  
  .form_heading {
    font-size: 21px;
    color: #7878bd;
  }
  

  .field {
    margin-bottom: 20px;
  }
  
  .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 8px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7;
  }
  
  .input:focus-visible {
    outline: 1px solid #aeaed6;
  }
  
  .input::placeholder {
    color: #bcbcdf;
  }
  
  label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
  }
  
  button {
    background-color: #7878bd;
    font-size: 14px;
    padding: 10px 16px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5f5f9c;
  }
  